.ListView{
  .el-table::before{
    background-color: #012135 !important;
    border: none;
  }
  .el-table__row{
    background-color: unset;
    color: #f0f0f0;
    border: none;
  }
  .el-table--striped .el-table__body tr .el-table__row--striped.current-row td, .el-table__body tr.current-row > td{
    background-color: #1199FF !important;
  }
  .el-table--enable-row-hover{
    .el-table__body tr:hover > td{
    background-color: #1b3342 !important;
    border: none;
    }
  }
  .el-table__expanded-cell{
    border: none;
  }
  .el-table .el-table__body tr.el-table__row td {
    border: none;
  }
}